@model IHFF.Models.Restaurant

@{
    ViewBag.Title = "RestautantInfo";
}

<section style="background-image: url('@Url.Content("~/images/background.jpg")'); background-size:contain; background-color:#F2F2F2; min-height:750px;">
    <article style="text-align:center">
        <h2>@Model.Naam<br /><i>@Model.Beschrijving</i></h2>
        <p>
            @ViewBag.Beschrijving
        </p>
        <p style="text-align:left; font-style:italic;">
            @Model.Locatie - @Model.Locatie.Adres
        </p>
       
    </article>
    <div class="clear"></div>
</section>