@using IHFF.Models
@model WishList


@{
    ViewBag.Title = "Wishlist";
}
<section style="background-color:#F2F2F2; padding-left:20vw; padding-right:20vw;">
    <section>
    <p style="float:left;">Om uw Eigen Agenda later aan te kunnen<br />passen heeft u de onderstaande code nodig.<br /><b>Onthoud deze code goed!</b><br /><br />
    Code van de Eigen Agenda:  <b>@Model.wishListCode</b></p>
    <section style="float:right;"><h3>Wishlist Ophalen <br /></h3>

    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(m => m.wishListCode)
        <input type="submit" value="Search" />
    }
    </section>
</section>
    <div style="clear:both;"></div>
    <section style="height:auto; padding:0;">
    <h1 style="float:left; width:5vw; margin-right:3vw;">Woensdag 23/4</h1>
    <section style="width:20vw;float:left;border-left:1px solid black;"><p style="padding-left:2vw;">
    @foreach (WishlistItem i in  Model.itemList)
    {
        if (i.item.Dag == "woensdag")
        {
        <p>@i.Besteltijd  </p>
        <p>@i.item.Naam  </p>
        <p>@i.Aantal</p>
        <br />
        }
    }
        </p></section>
    <section style="float:left;border-left:1px solid black"><p style="padding-left:2vw;">
        @foreach(WishlistItem i in Model.itemList)
        {
            if(i.item.Dag == "woensdag")
            {
                <p>€@i.item.Prijs</p>
                <br />
            }
        }
        </p></section>
    </section>
    <div style="clear:both;"></div>
    <section style="height:auto; padding:0;">
        <h1 style="float:left; width:5vw; margin-right:3vw;">Donderdag 24/4</h1>
        <section style="width:20vw;float:left;border-left:1px solid black;"><p style="padding-left:2vw;">
    @foreach (WishlistItem i in Model.itemList)
    {
        if (i.item.Dag == "donderdag")
        {
        <p>@i.Besteltijd  </p>
        <p>@i.item.Naam  </p>
        <p>@i.Aantal</p>
        <br />
        }
    }</p></section>
        <section style="float:left;border-left:1px solid black"><p style="padding-left:2vw;">
    @foreach (WishlistItem i in Model.itemList)
    {
        if (i.item.Dag == "donderdag")
        {
        <p>€@i.item.Prijs</p>
                <br />
        }
    }</p></section>
    </section>
    <div style="clear:both;"></div>
    <section style="height:auto; padding:0;">
        <h1 style="float:left; width:5vw; margin-right:3vw;">Vrijdag 25/4</h1>
        <section style="width:20vw;float:left;border-left:1px solid black;"><p style="padding-left:2vw;">
    @foreach (WishlistItem i in Model.itemList)
    {
        if (i.item.Dag == "vrijdag")
        {
        <p>@i.Besteltijd  </p>
        <p>@i.item.Naam  </p>
        <p>@i.Aantal</p>
        <br />
        }
    }</p></section>
        <section style="float:left;border-left:1px solid black"><p style="padding-left:2vw;">
    @foreach (WishlistItem i in Model.itemList)
    {
        if (i.item.Dag == "vrijdag")
        {
        <p>€@i.item.Prijs</p>
                <br />
        }
    }</p></section>
    </section>
    <div style="clear:both;"></div>

</section>
