<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Internationaal Haarlems Film Festival</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <img style="width:100%; opacity:0; margin:0; padding:0;" src="../images/banner.jpg" />
    </header>
        <nav>
            <div id="nav1">@Html.ActionLink("Home", "Index", "Home")</div>
            <div id="nav2">@Html.ActionLink("Films / Activiteiten", "ShowActivity", "Activity")</div>
            <div id="nav3">@Html.ActionLink("Eigen Agenda", "Index", "Home")</div>
            <div id="nav4">@Html.ActionLink("Locaties", "Locaties", "Home")</div>
            <div id="nav5">@Html.ActionLink("Contact", "Contact", "Home")</div>
        </nav>

            @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - Internationaal Haarlems Film Festival</p>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
